brktfldg-container
    &::before,
    brktfldg-toggle,
    brktfldg-content::after,
    &::after
        opacity .5

    &::before
        content attr(data-brktfldg-open-char)

    &::after
        content attr(data-brktfldg-close-char)

    brktfldg-toggle
        display inline-block

        &::after
            content attr(data-brktfldg-placeholder)

    &:not(.brktfldg-container--open)
        &:not(.brktfldg-container--short)
            brktfldg-toggle[data-brktfldg-word-count]::after
                content attr(data-brktfldg-word-count)
                font-size small

        brktfldg-toggle
            cursor zoom-in

        brktfldg-content
            display none

    &.brktfldg-container--open
        filter contrast(.5)

        brktfldg-toggle
            cursor zoom-out
            margin-right 0.5ch

        brktfldg-content
            display initial